<br>
<section class=" md:mt-24 bg-emerald-50">
    <div class="container w-full mx-auto px-5 py-16 ">
        <h1 class="font-serif font-semibold text-slate-800 text-lg text-center md:text-xl mt-5">Department of Computer Science</h1>
        <div class="container mx-auto w-full font-serif  border-1">
          <h2 class="font-serif text-center mt-10">MSC.COMPUTER SCIENCE:</h2> 
          <h3 class="mt-2  font-serif ">Eligibility Condition:</h3> 
          <p class="lg:px-5 text-justify text-sm ">
            A pass in any recognized Bachelors degree of minimum 3 years duration (10+2+3/4 years pattern)in B.C.A.,B.sc(Computer Sciennce/Computer Technology/Information Technology) or any Statistics as any one of the subjects or business Mathemetics at +2 level or A pass in any recognized Bachelors degree with 10+3 years Diploma +3 years pattern with Mathematics at Diploma level or Mathemetics or Statistics as one of the subjectat the degree level.the two year mca syllabus.
          </p>
        </div>
        <h2 class="mt-10 font-serif text-center ">MASTER OF COMPUTER APPLICATION:</h2>
        <div class="container mx-auto w-full font-serif  border-1">
            <h3 class="mt-2 font-serif  ">Eligibility Condition:</h3>
            <p class="lg:px-5 text-justify text-sm font-serif">
                A pass in any recognized Bachelors degree of minimum 3 years duration (10+2+3/4 years pattern)in B.C.A.,B.sc(Computer Sciennce/Computer Technology/Information Technology) or any Statistics as any one of the subjects or business Mathemetics at +2 level or A pass in any recognized Bachelors degree with 10+3 years Diploma +3 years pattern with Mathematics at Diploma level or Mathemetics or Statistics as one of the subjectat the degree level.the two year mca syllabus
                <br>
                <br>
                The candidate should have appeared for TANCET or MCA Entrance test conducted by the department of computer applications,Bharathiar University PG Extension and Research Centre,Erode.The last date for submission of the filled in MCA Applications is within Ten days from the date of publications TANCET-result.
            </p>
        </div>
        <div class="container mx-auto w-full font-serif ">
            <h3 class=" mt-14  md:mt-20  font-semibold text-slate-800 text-lg font-serif ">COURSES OFFERED</h3> 
             <ul class="flex gap-5 mt-8 ">
                <li class="bg-green-100 border rounded-sm">MSC.Computer Science</li>
                <li class="bg-green-100 border rounded-sm">MCA Master of Computer Applications</li>
                <li></li>
             </ul>
        </div>
        <div class=" mt-8 border-t-2 border-stone-300"></div>
         <div class="mt-7">
            
          
          <h3 class=" mt-14  md:mt-20  font-semibold text-slate-800 text-lg font-serif ">FACULTY LIST</h3> 
             <div class="container mx-auto  grid grid-auto-fit gap-2 mt-10">
              <div class=" grid1-item  border rounded-md hover:border-yellow-400">
                <h1 class=" font-serif font-bold  bg-yellow-500 text-center  text-white border-t rounded-t-md h-10 flex flex-col justify-center  ">Dr. K. K. Savitha</h1>
                <h2 class="font-serif text-center font-semibold text-slate-800 mt-8">Assistant Professor and Head</h2>
                <p class="font-serif  font-light text-center ">Department of Computer Science</p>
                  <div class="container w-full flex flex-col justify-center items-center  mt-8 mb-5">
                    <app-button name="Read More" size="S" shade="R" animation="F" > </app-button>
                  </div> 
              </div>
              <div class="  grid1-item  border rounded-md hover:border-yellow-400" >
                  <h1 class=" font-serif font-bold  bg-yellow-500 text-center  text-white border-t rounded-t-md h-10 flex flex-col justify-center  "></h1>
                  <h2 class="font-serif text-center font-semibold text-slate-800 mt-8"></h2>
                  <p class="font-serif  font-light text-center ">Department of Computer Science</p>
                    <div class="container w-full flex flex-col justify-center items-center  mt-8 mb-5">
                      <app-button name="Read More" size="S" shade="R" animation="F" > </app-button>
                    </div> 
              </div>
              
                <div class=" grid1-item  border rounded-md hover:border-yellow-400">
                  <h1 class=" font-serif font-bold  bg-yellow-500 text-center  text-white border-t rounded-t-md h-10 flex flex-col justify-center  "></h1>
                  <h2 class="font-serif text-center font-semibold text-slate-800 mt-8"></h2>
                  <p class="font-serif  font-light text-center ">Department of Computer Science</p>
                    <div class="container w-full flex flex-col justify-center items-center  mt-8 mb-5">
                      <app-button name="Read More" size="S" shade="R" animation="F" > </app-button>
                    </div> 
              </div>

             </div>
         </div>


   </div>
   </section>