<ul class=" lg:flex font-semibold text-lg gap-8 xl:gap-14 z-70">
    <li class=" hover:text-emerald-500 transition-all duration-500  p-3 border-t  lg:border-0">
        <a [routerLink]="['']">Home</a>
    </li>
    <li class=" hover:text-emerald-500 transition-all duration-500 p-3 border-t lg:border-0">
        <a [routerLink]="['about']">About</a>
    </li> 
    <li class="hover:text-emerald-500 transition-all duration-500  p-3 border-t lg:border-0">
        <a [routerLink]="['Department']">Department</a>

    </li>
    <li class=" hover:text-emerald-500 transition-all duration-500 p-3 border-t lg:border-0">
        <a [routerLink]="['library']">Library</a>
    </li>
    <li class=" hover:text-emerald-500 transition-all duration-500 p-3 border-y lg:border-0">
        <a [routerLink]="['contact']">Contact</a>
    </li>
</ul>
