<br>
<section class=" md:mt-24 bg-emerald-50">
  <div class="container w-full mx-auto px-5 py-16 ">
    <div class=" mt-5 h-5 grid grid-auto-fit gap-4 lg:px-96 content-center ...">
      <div class="border-4 shadow-lg shadow-slate-400 rounded-full text-center font-serif font-semibold text-slate-800">
        <a> ABOUT US</a>
      </div>
    </div>
    <div class=" md:mt-12  grid  grid-auto-fit-[12rem] gap-4 border-2">
      <p class="mt-5 text-justify  font-serif text-sm md:text-lg">Knowledge is the Resource for Global Competitiveness.
        To enrich the research activities of the rural
        economically backward students and to elevate them through education, the Government of Tamilnadu inaugurated
        Bharathiar <span class="font-semibold text-slate-800">University PG Extension and Research Centre at Erode on
          06.05.2013</span>.this centre contours the youth by affording resouceful education as an about six departments
        with hieghly qualified & Experienced faculty members holding a doctoral degree with dedicating themselves for
        teaching & research.</p>
    </div>
    <div class=" flex flex-wrap mt-5 border-2">
      <div class="w-full md:w-1/2 order-2  mt-5 px-5">
        <p class=" text-justify   font-serif text-sm md:text-lg">To be an centre of excellence in efficient teaching,
          University faculties outgrowth their student
          insight.As a result of this greeat endeavour our University students secured totally 09 University ranks 2
          gold medals in Tamil and Mathematics.All the above mentioned activities of our University provide an excellent
          launch pad for the successful carrier for the students through research..<br><br>To be an centre of excellence
          in efficient teaching, University faculties outgrowth their student insight.As a result of this greeat
          endeavour our University students secured totally 09 University ranks 2 gold medals in Tamil and
          Mathematics.All the above mentioned activities of our University provide an excellent launch pad for the
          successful carrier for the students through research.</p>
      </div>
      <div class="w-full md:w-1/2 order-1 ">
        <img src="./assets/Images/about us.jpg" alt="" class="object-cover  w-96 mx-auto  border rounded-md ">
      </div>
    </div>
    <div class="mt-5 grid  grid-auto-fit-[12rem] gap-4 border-2">
      <p class="text-justify  font-serif text-sm md:text-lg"><span class="font-semibold text-slate-800">PG Extension and
          Research Centre</span> is temporarily
        located in a serene surrounding at Palanisamy College of Arts Campus,perundurai.it is linked with all parts of
        the city through proper transportation facilities.This Research centre has been marching forward excellently in
        the field of higher education.</p>
    </div>
    <div class="mt-5 grid  grid-auto-fit-[12rem] gap-4 border-2">
      <p class="text-justify  font-serif text-sm md:text-lg"><span class="font-semibold text-slate-800">vision:</span>
        our vision is to provide inernationally
        comparable quality higher education to the youth, The aim is not only focused on importing subject knowledge and
        skills, but also to mould the student with better conduct and character committed to the motto "Educate to
        Elevate" the University to realize the vision of india and excel in promoting and protecting the rich heritage
        of our past and the secular ideals of the nation.</p>
    </div>
  </div>




</section>