<br>
<section class=" md:mt-24 bg-emerald-50">
    <div class="container  w-full mx-auto px-5 py-16 ">
        <div class=" mt-5 h-5 grid grid-auto-fit gap-4 lg:px-96 content-center ...">
  <div class="border-4 shadow-lg shadow-slate-400 rounded-full text-center font-serif font-semibold text-slate-800"> <a> DEPARTMENTS</a> </div>
  
  
</div>
        <div class=" mt-10 w-full container lg:flex  gap-5">
        <ul class="w-full md:w-1/2 list-disc list-inside">
         <li class="p-3  border-b border-dashed  border-slate-900"><a  routerLink="/tamil">Department of Tamil</a></li>
         <li class="p-3  border-b border-dashed border-slate-900"><a  routerLink="/English">Department of English </a></li>
         <li class="p-3 border-b border-dashed border-slate-900"><a  routerLink="/maths">Department of Mathematics</a></li>
        </ul>
        <ul class="w-full  md:w-1/2 list-disc list-inside">
            <li class="p-3 border-b border-dashed border-slate-900"><a  routerLink="/Management">Department of Business Administration </a> </li>
            <li class="p-3 border-b border-dashed border-slate-900"><a  routerLink="/computer-science">Department of Computer Science</a></li> 
         </ul>
        </div>

    </div>
</section>

