<br>
<section class=" md:mt-24 bg-emerald-50">
    <div class="container w-full mx-auto px-5 py-16 ">
        <h1 class="font-serif font-semibold text-slate-800 text-lg text-center md:text-xl mt-5">Department of Mathematics</h1>
        <div class="container mx-auto w-full font-serif  border-1">
          <h2 class="font-serif text-center mt-10"></h2> 
          <h3 class="mt-2  font-serif ">Eligibility Condition:</h3> 
          <p class="lg:px-5 text-justify text-sm mt-3">
            A pass in B.sc(Mathematics) of Bharathiar University or any other University recognized by the Bharathiar or equivalent thereof.
            <br><br>
            A pass in B.sc(Mathematics) with computer applications of Bharathiar University or any other university recognized by the Bharathiar or equivalent thereof.
          </p>
        </div>
       
        <div class="container mx-auto w-full font-serif ">
            <h3 class=" mt-14  md:mt-20  font-semibold text-slate-800 text-lg font-serif ">COURSES OFFERED</h3> 
             <ul class="flex gap-5 mt-8 ">
                <li class="bg-green-100 border rounded-sm">Msc(Mathematics)</li>
                <li class="bg-green-100 border rounded-sm"></li>
                <li></li>
             </ul>
        </div>
        <div class=" mt-8 border-t-2 border-stone-300"></div>
         <div class="mt-7">
            
          
          <h3 class=" mt-14  md:mt-20  font-semibold text-slate-800 text-lg font-serif ">FACULTY LIST</h3> 
             <div class="container mx-auto  grid grid-auto-fit gap-2 mt-10">
              <div class=" grid1-item  border rounded-md hover:border-yellow-400">
                <h1 class=" font-serif font-bold  bg-yellow-500 text-center  text-white border-t rounded-t-md h-10 flex flex-col justify-center  ">Dr.S.Bharathi</h1>
                <h2 class="font-serif text-center font-semibold text-slate-800 mt-8">Assistant Professor and Head</h2>
                <p class="font-serif  font-light text-center ">Department of Mathematics</p>
                  <div class="container w-full flex flex-col justify-center items-center  mt-8 mb-5">
                    <app-button name="Read More" size="S" shade="R" animation="F" > </app-button>
                  </div> 
              </div>
              <div class="  grid1-item  border rounded-md hover:border-yellow-400" >
                  <h1 class=" font-serif font-bold  bg-yellow-500 text-center  text-white border-t rounded-t-md h-10 flex flex-col justify-center  "></h1>
                  <h2 class="font-serif text-center font-semibold text-slate-800 mt-8"></h2>
                  <p class="font-serif  font-light text-center ">Department of Mathematics</p>
                    <div class="container w-full flex flex-col justify-center items-center  mt-8 mb-5">
                      <app-button name="Read More" size="S" shade="R" animation="F" > </app-button>
                    </div> 
              </div>
              
                <div class=" grid1-item  border rounded-md hover:border-yellow-400">
                  <h1 class=" font-serif font-bold  bg-yellow-500 text-center  text-white border-t rounded-t-md h-10 flex flex-col justify-center  "></h1>
                  <h2 class="font-serif text-center font-semibold text-slate-800 mt-8"></h2>
                  <p class="font-serif  font-light text-center ">Department of Mathematics</p>
                    <div class="container w-full flex flex-col justify-center items-center  mt-8 mb-5">
                      <app-button name="Read More" size="S" shade="R" animation="F" > </app-button>
                    </div> 
              </div>

             </div>
         </div>


   </div>
   </section>


