<section class=" bg-emerald-50 ">
    <div class="container  mx-auto h-[2000px] pt-40 w-full ">
        
        <!--first content-->
        <div class=" mt-12 grid  grid-auto-fit-[12rem] gap-4">
            <div class=" grid1-item col-span-2 "><img src="./assets/Images/coimbator clg photo.jpg"
                    class="  w-full border-2 border-slate-500  "></div>
            <div class="  grid1-item  bg-slate-300 border-2 border-slate-500 text-center  ">Notification
                <p *ngIf="customers.length==0">Empty</p>
                <p *ngFor="let customer of customers">{{customer.name}}</p>
            </div>
        </div>
        <br>
        <a routerLink="/pdf">Addmin</a>

        <!--second container directore!-->
        <div class=" container mx-auto  border-2 px-5">
            <div class=" flex flex-wrap">
                <div class="w-full md:w-1/2 order-2 mt-12 md:mt-0 px-5">
                    <h1 class="text-semibold text-lg md:text-xl font-serif">BU PG Extenstion centre erode</h1>
                    <p class="mt-5 text-sm md:text-lg text-justify font-serif ">Education is the basis of all progress.
                        The entire purpose of education is not to restrict itself to imparting bookish knowledge but to
                        inculcate humanitarian values like wisdom, compassion, courage, humility, integrity and
                        reliability in a student. I firmly believe that growth is not an arrow pointing direction, but a
                        hole that expands and lights up. It is a process of transforming all the students to become
                        academically excellent, emotionally stable and socially responsible, and to become GOOD HUMAN
                        BEINGS. Students are the most precious asset and their nurturing is our top priority.</p>
                </div>
                <div class="w-full md:w-1/2 order-1">
                    <img src="./assets/Images/Dr copy.jpg" alt="" class="w-96 mx-auto">
                    <h1 class="text-center">Dr.C.Vadivel</h1>
                </div>
            </div>
        </div>

        <!--third container!-->
        <div class=" mt-5">
            <div class="container bg-orange-900 mx-auto w-full border rounded-3xl lg:rounded-full">
                <h1 class="text-white w-full text-center text-sm md:text-lg text-semibold mt-3">பாரதியார் கவிதைகள் </h1>
                <div class=" flex flex-col justify-center items-center">
                    <p class=" font-serif  text-stone-300 lg:text-justify text-sm lg:text-md mt-5 mb-3  ">
                        கல்வியின் மிக்கதாம் செல்வமொன்று இல்லையே<br>
                        கண்மணி கேளடா நீ என்றன் சொல்லையே!<br>
                        செல்வம் பிறக்கும் நாம் தந்திடில் தீர்ந்திடும்<br>
                        கல்வி தருந்தொறும் மிகச் சேர்ந்திடும்
                    </p>
                </div>
            </div>
        </div>

        <h4 class="font-bold md:text-xl"><span class="text-red-800">Image</span> Gallary</h4>
        <section id="marquee">
            <div class="container">
                <div class="pic-container border rounded-lg">
                    <div class="pic">
                        <img class="object-cover rounded-md" src="./assets/Images/slider image/2023-01-05 (1).jpg "
                            alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md w-full h-full " src="./assets/Images/slider image/1.jpg"
                            alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md h-full" src="./assets/Images/slider image/2.jpg" alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md  h-full " src="./assets/Images/slider image/3.jpg"
                            alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md h-full " src="./assets/Images/slider image/4.jpg" alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md h-full " src="./assets/Images/slider image/5.jpg" alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md h-full " src="./assets/Images/slider image/6.jpg" alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md h-full " src="./assets/Images/slider image/7.jpg" alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md h-full " src="./assets/Images/slider image/8.jpg" alt="img">
                    </div>
                    <div class="pic">
                        <img class="object-cover rounded-md h-full " src="./assets/Images/slider image/9.jpg" alt="img">
                    </div>
                </div>
            </div>
        </section>


    </div>
</section>